@model IEnumerable<Aerolinea.Models.VueloView>


@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @id = "regionFilters" }))
{
    if (Model != null)
    {
        <div class="form-group col-md-2 grupo1">
            @*@Html.HiddenFor(x => x.First().ListaVuelosOrigen.First().Id)*@
            @Html.LabelFor(x => x.First().ListaVuelosOrigen.First().Origen, new { @class = "control-label etiqueta" })
            @Html.DropDownListFor(x => x.First().ListaVuelosOrigen.First().Id, Model.First().ListaItemsOrigen, "-- Seleccione --", new { @class = "form-control text-center etiqueta" })
        </div>
        <div class="form-group col-md-2 grupo1">
            @*@Html.HiddenFor(x => x.First().ListaVuelosDestino.First().Id)*@
            @Html.LabelFor(x => x.First().ListaVuelosDestino.First().Destino, new { @class = "control-label etiqueta" })
            @Html.DropDownListFor(x => x.First().ListaVuelosDestino.First().Id, Model.First().ListaItemsDestino,"-- Seleccione --", new { @class = "form-control text-center etiqueta" })
        </div>
        <div class="input-append form-group calendar col-md-2 grupo1">
            <span class="add-on"><i class="fa fa-map-marker"></i></span>
            @Html.Label("Ida")
            <input type="text" class="form-control" placeholder="Fecha de Ida">
        </div>
        <div class="input-append form-group calendar col-md-2 grupo1">
            <span class="add-on"><i class="fa fa-map-marker"></i></span>
            @Html.Label("Retorno")
            <input type="text" class="form-control" placeholder="Fecha de Vuelta">
        </div>
        <div class="form-group col-md-2 grupo1">
            @Html.Label("Pasajeros", new { @class = "control-label etiqueta" })
            <div class="form-group form-group-lg form-group-select-plus">
                <div class="btn-group btn-group-select-num" data-toggle="buttons">
                    <label class="btn btn-primary active">
                        <input type="radio" name="options" />1
                    </label>
                    <label class="btn btn-primary">
                        <input type="radio" name="options" />2
                    </label>
                    <label class="btn btn-primary">
                        <input type="radio" name="options" />3
                    </label>
                    <label class="btn btn-primary">
                        <input type="radio" name="options" />+
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group col-md-2 grupo1">
            @{
                List<string> categoria = new List<string>() { "Economy", "Premium Economy", "Premium Business" };
            }
            @Html.Label("Categoria", new { @class = "control-label etiqueta" })
            @Html.DropDownList("Categorias", new SelectList(categoria), new { @class = "form-control etiqueta" })
        </div>
    }

}



