@model IEnumerable<Aerolinea.Models.VueloView>

@using (Html.BeginForm("Search", "Home", FormMethod.Post, new { @id = "regionFilters" }))
{
    @Html.AntiForgeryToken()
    if (Model != null)
    {
        <div class="form-group col-md-2 grupo1">
            @Html.LabelFor(x => x.First().ListaVuelosOrigen.First().Origen, new { @class = "control-label etiqueta" })
            @Html.DropDownListFor(x => x.First().ListaVuelosOrigen.First().Origen, Model.First().ItemsOrigen, "Seleccione", new { @class = "form-control text-center etiqueta", @id = "DropDownOrigen" })
        </div>
        <div class="form-group col-md-2 grupo1">
            @Html.LabelFor(x => x.First().ListaVuelosDestino.First().Destino, new { @class = "control-label etiqueta" })
            @Html.DropDownListFor(x => x.First().ListaVuelosDestino.First().Destino, Model.First().ItemsDestino, "Seleccione", new { @class = "form-control text-center etiqueta", @id = "DropDownDestino" })
        </div>
        <div class="input-append form-group calendar col-md-2 grupo1">
            <span class="add-on"><i class="fa fa-map-marker"></i></span>
            @Html.Label("Ida")
            @Html.TextBoxFor(model => model.First().FechaSalida, new { @class = "form-control", @id = "calendar1" })
        </div>
        <div class="input-append form-group calendar col-md-2 grupo1">
            <span class="add-on"><i class="fa fa-map-marker"></i></span>
            @Html.Label("Retorno")
            @Html.TextBoxFor(model => model.First().FechaLlegada, new { @class = "form-control", @id = "calendar2" })
        </div>
        <div class="form-group col-md-2 grupo1">
            @Html.Label("Pasajeros", new { @class = "control-label etiqueta" })
            <div class="form-group form-group-lg form-group-select-plus">
                <div class="btn-group btn-group-select-num" data-toggle="buttons">
                    <label class="btn btn-primary active">
                        <input type="radio" name="options" />1
                    </label>
                    <label class="btn btn-primary">
                        <input type="radio" name="options" />2
                    </label>
                    <label class="btn btn-primary">
                        <input type="radio" name="options" />3
                    </label>
                    <label class="btn btn-primary">
                        <input type="radio" name="options" />+
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group col-md-2 grupo1">
            @{
                List<string> categoria = new List<string>() { "Economy", "Premium Economy", "Premium Business" };
            }
            @Html.Label("Categoria", new { @class = "control-label etiqueta" })
            @Html.DropDownList("Categoria", new SelectList(categoria), new { @class = "form-control etiqueta" })
        </div>
    }

}



