@model Aerolinea.Models.ViajeView
@{
    ViewBag.Title = "Home Page";
}
<meta name="viewport" content="initial-scale=1.0, maximum-scale=2.0">
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.1/css/datepicker3.min.css">
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.5.0/bootstrap-table.min.css">
<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
@Styles.Render("~/Content/owl")

@Html.Partial("_SliderPartial")
<div class="row">
    <div class="container">
        <div class="col-md-12 container body-content">
            @*<div class="panelsup" id="panel1">
                    <figure>
                        <img class="img-responsive img-circle" src="http://oi60.tinypic.com/2uiumc3.jpg" width="90" alt="Logo">
                    </figure>
                    <label>Bullet Airline</label>
                </div>*@


            <div class="paneles col-md-12 panel panel-primary panel-heading" id="panel2">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.Id)
                    <div role="tabpanel">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist" id="seltab">
                            <li role="presentation" class="active"><a href="#vuelos" aria-controls="vuelos" role="tab" data-toggle="tab">Vuelos</a></li>
                            <li role="presentation" class=""><a href="#hotel" aria-controls="hotel" role="tab" data-toggle="tab">Hotel</a></li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade active in" id="vuelos">
                                <div class="contenedorfiltros">
                                    <div class="form">
                                        <div class="form-group col-md-2 grupo1">
                                            @Html.Label("Desde", new { @class = "control-label etiqueta" })
                                            @Html.DropDownList("Direction", new List<SelectListItem>
                                                {
                                                  new SelectListItem { Text = "Iquique", Value = "0" },
                                                  new SelectListItem { Text = "Santiago", Value = "1" },
                                                  new SelectListItem { Text = "Concepcion", Value = "2" },
                                                  new SelectListItem { Text = "Valdivia", Value = "3" }
                                                }, new { @class = "form-control text-center etiqueta" })
                                        </div>
                                        <div class="form-group col-md-2 grupo1">
                                            @Html.Label("Hasta", new { @class = "control-label etiqueta" })
                                            @Html.DropDownList("Direction", new List<SelectListItem>
                                                {
                                                  new SelectListItem { Text = "Iquique", Value = "0" },
                                                  new SelectListItem { Text = "Santiago", Value = "1" },
                                                  new SelectListItem { Text = "Concepcion", Value = "2" },
                                                  new SelectListItem { Text = "Valdivia", Value = "3" }
                                                }, new { @class = "form-control text-center etiqueta" })
                                        </div>
                                        <div class="input-append form-group calendar col-md-2 grupo1">
                                            <span class="add-on"><i class="fa fa-map-marker"></i></span>
                                            @Html.Label("Ida")
                                            <input type="text" class="form-control" placeholder="Fecha de Ida">
                                        </div>
                                        <div class="input-append form-group calendar col-md-2 grupo1">
                                            <span class="add-on"><i class="fa fa-map-marker"></i></span>
                                            @Html.Label("Retorno")
                                            <input type="text" class="form-control" placeholder="Fecha de Vuelta">
                                        </div>
                                        <div class="form-group col-md-2 grupo1">
                                            @Html.Label("Pasajeros", new { @class = "control-label etiqueta" })
                                            <div class="form-group form-group-lg form-group-select-plus">
                                                <div class="btn-group btn-group-select-num" data-toggle="buttons">
                                                    <label class="btn btn-primary active">
                                                        <input type="radio" name="options" />1
                                                    </label>
                                                    <label class="btn btn-primary">
                                                        <input type="radio" name="options" />2
                                                    </label>
                                                    <label class="btn btn-primary">
                                                        <input type="radio" name="options" />3
                                                    </label>
                                                    <label class="btn btn-primary">
                                                        <input type="radio" name="options" />+
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-2 grupo1">
                                            @Html.Label("Categoria", new { @class = "control-label etiqueta" })
                                            @Html.DropDownList("Direction", new List<SelectListItem>
                                            {
                                              new SelectListItem { Text = "Economy", Value = "1" },
                                              new SelectListItem { Text = "Premium Economy", Value = "2" },
                                              new SelectListItem { Text = "Premium Business", Value = "3" },
                                            }, new { @class = "form-control etiqueta" })
                                        </div>

                                        <div class="form-group col-md-12 text-center">
                                            <button type="button" class="btn btn-default fa fa-search" data-toggle="collapse" data-target="#tablas" aria-expanded="false" aria-controls="tablas">
                                                @Html.Label("BUSCAR", new { @class = "control-label etiqueta", @id = "btnbuscar" })
                                            </button>
                                        </div>
                                    </div>

                                    <div id="tablas" class="collapse">
                                        <div id="datatable1" class="table-responsive">
                                            <table id="table1" class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th data-field="ida">Ida</th>
                                                        <th data-field="vuelo">Vuelo</th>
                                                        <th data-field="salida">Salida</th>
                                                        <th data-field="llegada">Llegada</th>
                                                        <th data-field="cabina">Cabina</th>
                                                        <th data-field="tarifa">Tarifa</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                        <div id="datatable2" class="table-responsive">
                                            <table id="table2" class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th data-field="vuelta">Vuelta</th>
                                                        <th data-field="vuelo">Vuelo</th>
                                                        <th data-field="salida">Salida</th>
                                                        <th data-field="llegada">Llegada</th>
                                                        <th data-field="cabina">Cabina</th>
                                                        <th data-field="tarifa">Tarifa</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div role="tabpanel" class="tab-pane" id="hotel">
                                <h4>
                                    LIPSUM & EQUIPMENTS
                                    Proin feugiat aliquam tortor, id hendrerit urna semper pulvinar. Nullam iaculis aliquam risus, nec tempus quam condimentum ut. Lorem Ipsum nisl, imperdiet non dictum quis, sodales quis risus. Donec condimentum gravida rhoncus. Proin sollicitudin mi eget felis congue sed adipiscing tellus vulputate. Cras suscipit aliquam sapien, non pretium turpis ullamcorper vitae. Aenean vitae libero velit, nec malesuada diam.
                                </h4>

                            </div>

                        </div>

                    </div>
                }
            </div>

            <div class="paneles col-md-12 panel panel-primary panel-heading" id="panel3">
                <div>
                    <div class="panelsup" id="panel1">
                        <img class="img-responsive logo" src="http://oi60.tinypic.com/2uiumc3.jpg" width="70" alt="Logo">
                    </div>
                    <p class="text-justify">
                        Chile es un país ubicado en la costa occidental de Sudamérica y limita con Bolivia, Perú, Argentina 
                        y el Océano Pacífico. Su capital es Santiago y a lo largo de su territorio es posible apreciar una 
                        geografía muy diversa, con distintas condiciones climáticas.

                        Conoce los lugares de turismo en Chile, revisando la guía de destinos de Bullet Airline.
                        Obtén toda la información que sólo Bullet Airlines, te pueden ofrecer. Sorpréndete con la 
                        diversa geografía de Chile, uno de los países con los destinos turísticos más variados de 
                        Sudamérica y recorre lugares como:

                        El árido desierto de Atacama (el más seco del mundo)
                        Los centros de esquí construidos en plena Cordillera de Los Andes
                        El magnetismo de Isla de Pascua y sus moais
                        Los imponentes glaciares de Torres del Paine
                        Los famosos vinos del Valle Central.
                    </p>
                    <h3>Zona Norte de Chile</h3>
                    <img class="img-responsive" src="http://vacacionesdoradas.cl/wp-content/uploads/2013/05/Lago.jpg" alt="Lago Chungara" width="1000" />
                    <h3>Zona Centro de Chile</h3>
                    <img class="img-responsive" src="http://cdn2.hubspot.net/hub/465916/file-2325086686-jpg/santiago.jpg" alt="Santiago" width="1000" />
                    <h3>Zona Sur de Chile</h3>
                    <img class="img-responsive" src="http://www.gorinkan.org/journey/wnj/pt/cordillera_paine_x.jpg" alt="Torres del Paine" width="1000" />
                </div>
            </div>
        </div>
    </div>

</div>



@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/owl")
<script type="text/javascript" language="javascript" src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.1/js/bootstrap-datepicker.js"></script>
@*<script type="text/javascript" language="javascript" src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.5.0/bootstrap-table.min.js"></script>*@


<script type="text/javascript">
    $(document).ready(function () {
        //$('#table1').bootstrapTable({
        //    data: data.salida
        //});
        //$('#table2').bootstrapTable({
        //    data: data.regreso
        //});

        $(".owl-carousel").owlCarousel({
            loop: true,
            autoplay: true,
            autoplayTimeout: 1000,
            autoWidht: true,
            stopOnHover: true,
            navigation: true,
            paginationSpeed: 1000,
            goToFirstSpeed: 2000,
            items: 1,
            transitionStyle: "fade"
        });

        $('.calendar input').datepicker({
            format: "dd/mm/yyyy"
        });
    });


    var data = {  
        "salida":[  
           {
               "ida": "Santiago - Iquique",
               "vuelo": "LA 256",
               "salida": "17:00",
               "llegada": "18:30",
               "cabina": "Economy",
               "tarifa": "48.500"
           }
        ],
        "regreso":[  
           {
               "vuelta": "Iquique - Santiago",
               "vuelo": "LA 366",
               "salida": "18:00",
               "llegada": "19:30",
               "cabina": "Economy",
               "tarifa": "55.000"
           }
        ]
    }

    $(function () {

        //$('#btnbuscar').click(function () {
        //    $('#datatable1').slideDown('slow');
        //    $('#datatable2').slideDown('slow');
        //});

    });


</script>



