@using Aerolinea.Models

@model IEnumerable<Aerolinea.Models.VueloView>
@{
    ViewBag.Title = "Home Page";
}
<meta name="viewport" content="initial-scale=1.0, maximum-scale=2.0">
<link href="~/Content/normalize.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.1/css/datepicker3.min.css">
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.5.0/bootstrap-table.min.css">
<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="archives" type="image/x-icon" href="~/Scripts/BxSlider/images/bx_loader.gif" />
<link rel="archives" type="image/x-icon" href="~/Scripts/BxSlider/images/controls.png" />
@Styles.Render("~/Content/BxSlider")

@Html.Partial("_SliderPartial")


    <div class="container">
        <div class="col-md-12 body-content">
            <div class="paneles col-md-12 panel panel-primary panel-heading" id="panel2">
                <div role="tabpanel">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist" id="seltab">
                        <li role="presentation" class="active"><a href="#vuelos" aria-controls="vuelos" role="tab" data-toggle="tab">Vuelos</a></li>
                        <li role="presentation" class=""><a href="#hotel" aria-controls="hotel" role="tab" data-toggle="tab">Hotel</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade active in" id="vuelos">
                            <div class="contenedores">
                                <div id="busqueda">
                                    @Html.Partial("_Filters2")
                                    @Html.Partial("_Search")
                                </div>
                            </div>
                        </div>

                        <div role="tabpanel" class="tab-pane" id="hotel">
                            <h4>
                                LIPSUM & EQUIPMENTS
                                Proin feugiat aliquam tortor, id hendrerit urna semper pulvinar. Nullam iaculis aliquam risus, nec tempus quam condimentum ut. Lorem Ipsum nisl, imperdiet non dictum quis, sodales quis risus. Donec condimentum gravida rhoncus. Proin sollicitudin mi eget felis congue sed adipiscing tellus vulputate. Cras suscipit aliquam sapien, non pretium turpis ullamcorper vitae. Aenean vitae libero velit, nec malesuada diam.
                            </h4>

                        </div>

                    </div>

                </div>
            </div>



            <div class="paneles col-md-12 panel panel-primary panel-heading" id="panel3">
                <div>
                    <div class="panelsup" id="panel1">
                        <img class="img-responsive logo" src="http://oi60.tinypic.com/2uiumc3.jpg" width="70" alt="Logo">
                    </div>
                    <p class="text-justify center-block">
                        Chile es un país ubicado en la costa occidental de Sudamérica y limita con Bolivia, Perú, Argentina 
                        y el Océano Pacífico. Su capital es Santiago y a lo largo de su territorio es posible apreciar una 
                        geografía muy diversa, con distintas condiciones climáticas.

                        Conoce los lugares de turismo en Chile, revisando la guía de destinos de Bullet Airline.
                        Obtén toda la información que sólo Bullet Airlines, te pueden ofrecer. Sorpréndete con la 
                        diversa geografía de Chile, uno de los países con los destinos turísticos más variados de 
                        Sudamérica y recorre lugares como:

                        El árido desierto de Atacama (el más seco del mundo)
                        Los centros de esquí construidos en plena Cordillera de Los Andes
                        El magnetismo de Isla de Pascua y sus moais
                        Los imponentes glaciares de Torres del Paine
                        Los famosos vinos del Valle Central.
                    </p>
                    <h3>Zona Norte de Chile</h3>
                    <img class="img-responsive center-block" src="http://vacacionesdoradas.cl/wp-content/uploads/2013/05/Lago.jpg" alt="Lago Chungara" width="1000" />
                    <h3>Zona Centro de Chile</h3>
                    <img class="img-responsive center-block" src="http://cdn2.hubspot.net/hub/465916/file-2325086686-jpg/santiago.jpg" alt="Santiago" width="1000" />
                    <h3>Zona Sur de Chile</h3>
                    <img class="img-responsive center-block" src="http://www.gorinkan.org/journey/wnj/pt/cordillera_paine_x.jpg" alt="Torres del Paine" width="1000" />
                </div>
            </div>
        </div>
    </div>




@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/BxSlider")
<script type="text/javascript" language="javascript" src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.1/js/bootstrap-datepicker.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $('.bxslider').bxSlider({
            auto: true,
            infiniteLoop: true,
            speed: 500,
        });

        $('.calendar input').datepicker({
            format: "dd/mm/yyyy"
        });

        //$("#DropDownOrigen").change(function () {
        //    $("#regionFilters").submit();
        //});

        //$("#DropDownDestino").change(function () {
        //    $("#regionFilters").submit();
        //});

        $("#DropDownOrigen").change(function () {
            Flights($(this).val(), $(this).val());
        });


    });


    function Flights(origen, destino) {
        $.ajax({
            // Falta pasar parametro al controlador
            url: '/Home/SearchFly',
            data: { Origin: origen, Destiny: destino },
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                $(data).each(function (index, item) {
                    $('#tablas #table1 tbody tr').html('<td>' + item.origen + '</td>');
                    console.log(item.origen);
                });
            }
        });

    }


</script>



